@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --light_green: #dff1e7;
    --medium_green: #0c7d69;
    --red: #d73c3c;
    --white: #ffffff;
    --medium_grey: #87a3a6;
    --dark_grey: #2b4246;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--light_green);
    font-family: 'Karla';
}

main {
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--white);
}

article {
    margin: 20px 0;
}

label {
    display: block;
    font-size: 16px;
    color: var(--dark_grey);
    margin-bottom: 10px;
}

h1 {
    color: var(--dark_grey);
    margin: 0;
}

p {
    font-size: 12px;
    margin: 0;
    color: var(--red);
}

/* Specific classes */
.name {
    display: flex;
    gap: 20px;
}

.first, .last {
    flex: 1;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    gap: 20px;
}

.general, .support {
    display: flex;
    flex: 1;
    padding: 10px;
    border: 1px solid var(--medium_grey);
    border-radius: 5px;
    gap: 20px;
    align-content: stretch;
}

.consent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.consent p {
    position: absolute;
    margin-left: 30px;
    color: var(--dark_grey);
}

/* Input styling */
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--medium_grey);
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    border: 1px solid var(--medium_grey);
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    resize: vertical;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--medium_green);
    cursor: pointer;
}

/* Input pseudo-class */
input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
textarea:hover,
textarea:focus {
    border: 1px solid var(--medium_green);
    outline: none;
    cursor: pointer;
}

input[type="radio"]:checked {
    position: absolute;
    appearance: none;
    background-image: url(assets/images/icon-radio-selected.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13px;
    height: 14px;
}

input[type="checkbox"]:checked {
    appearance: none;
    background-image: url(assets/images/icon-checkbox-check.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13px;
    height: 13px;
}

input[type="button"]:hover {
    background-color: var(--dark_grey);
}

/* Alerts and error */
#alert {
    position: absolute;
    top: 15px;
    padding: 12px;
    border-radius: 10px;
    background-color: var(--dark_grey);
    color: var(--white);
}

#alert div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#alert img {
    width: 13px;
}

h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

h5 {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
}

.query div p {
    position: absolute;
    font-size: 13px;
    color: var(--dark_grey);
    margin: 0 30px;
}

.check {
    background-color: var(--light_green);
}

/* Responsiveness */
@media (min-width: 300px) and (max-width: 550px) {
    main {
        width: 350px;
        height: auto;
    }

    .name {
        flex-direction: column;
    }

    .radio {
        flex-direction: column;
        gap: 10px;
    }

    textarea {
        height: 100px;
    }
}